.mainSection {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background: #000000;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.periodicRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.worksRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.topbar {
  display: flex;
  flex-direction: row;
  position: sticky;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 66px;
  max-width: 100%;
  background: #849a80;
  left: 0px;
  top: 0px;
  z-index: 1;
  min-width: 0;
  flex-shrink: 0;
  padding: 12px 20px;
}
.logo {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.logo > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.logo > :global(.__wab_flex-container) > *,
.logo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.logo > :global(.__wab_flex-container) > picture > img,
.logo > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 10px;
}
.img__eZTbs {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.img__eZTbs > picture > img {
  object-fit: cover;
}
.img__jGxrg {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.img__jGxrg > picture > img {
  object-fit: cover;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 48px;
  flex-shrink: 0;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  margin-top: 0px;
  color: #000000;
  width: 24px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) translateZ(0px);
  height: 24px;
}
.itemsGrid {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  min-width: 0;
  padding: 20px;
}
.workItem:global(.__wab_instance) {
  position: relative;
}
.skeletonGrid {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  min-width: 0;
  padding: 20px;
}
.freeBox__wzC6U {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 355px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox___2YCgr {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 355px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__lu2D5 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 355px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox___2ZejQ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 355px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__glSh1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 355px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__asCcP {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 355px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__yaqG2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 355px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__vNxzL {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 355px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.emptyData {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.emptyData > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.emptyData > :global(.__wab_flex-container) > *,
.emptyData > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.emptyData > :global(.__wab_flex-container) > picture > img,
.emptyData
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.img__dCbsi {
  object-fit: cover;
  max-width: 100%;
  width: 300px;
}
.img__dCbsi > picture > img {
  object-fit: cover;
}
.text {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  color: #ffffff99;
}
